.projects-page{
    min-height: 160vh;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 10em;
  }
  
  .projects-page > h1{
    font-size: 2rem;
    color: var(--blue);
  }
  
  .projects-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5em;
    flex-wrap: wrap;
    row-gap: 5em;
  }
  
  .modal-thumbnail{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4em 2em;
    background-color: var(--blue);
    border-radius: 15px;
    cursor: pointer;
  }
  
  .modal-thumbnail:hover{
    background-color: var(--gold);
  }
  
  .modal-thumbnail img{
    width: 100%;
    max-width: 24rem;
    border-radius: 10px;
    transition: transform 0.5s;
    object-fit: cover;
  }
  
  .modal-thumbnail img:hover{
    transform: scale(1.1);
  }
  
  .project{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .modal-desc h4{
    font-size: var(--size-2xl);
    color: var(--gold);
  }
  
  .modal-desc > :nth-child(2) {
    font-size: var(--size-xl);
  }
  
  .modal-desc p {
    color: var(--platinum-white);
    font-size: var(--size-lg);
  }
  
  .modal{
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 70px;
    padding-bottom: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* overflow: auto; */
    background-color: rgba(0,0,0,0.4);
  }
  
  [class^="modal-content"]{
    background-color: var(--grayish-blue);
    margin-inline: auto;
    /* padding: 1em; */
    max-width: 80%;
    border: none;
    border-radius: 10px;
    overflow: hidden;
  }
  
  [class^="modal-graphic"]{
    position: relative;
    margin-inline: auto;
    max-width: 80%;
    border: none;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .modal-info{
    display: flex;
    align-items: normal;
    justify-content: space-between;
    min-height: 80vh;
  }
  
  .modal-info2{
    display: flex;
    flex: 2;
    min-height: 80vh;
  }
  
  .modal-left{
    position: relative;
    display: flex;
    flex: 2;
    justify-content: center;
    background-color: white;
    border-radius: inherit;
  }
  
  .modal-single{
    position: relative;
    display: flex;
    flex: 2;
    background-color: white;
    justify-content: center;
    border-radius: inherit;
  }
  
  .carousel-container{
    width: 100%;
    max-width: 100%;
    position: relative;
    background-color: var(--blue);
    margin-top: 5rem;
    margin-bottom: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .carousel-container2{
    width: 100%;
    max-width: 100%;
    position: relative;
    background-color: var(--blue);
    margin-top: 5rem;
    margin-bottom: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .counter{
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: var(--gold);
    font-weight: 500;
    color: white;
    padding: 8px;
    margin: 10px;
    border-radius: 10px;
  }
  
  .disc{
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    background-color: var(--gold);
    font-weight: 500;
    padding: 8px;
    border-radius: 10px;
    color: white;
  }
  
  .disc2{
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    background-color: var(--gold);
    font-weight: 500;
    padding: 8px;
    border-radius: 10px;
    color: white;
    max-width: 50ch;
  }
  
  .prev, .next{
    cursor: pointer;
    position: absolute;
    /* top: 50%; */
    width: auto;
    padding: 16px;
    margin-top: -22px;
    transition: transform 0.6s ease;
    user-select: none;
  }
  
  .prev{
    position: absolute;
    left: 0;
  }
  
  .next{
    position: absolute;
    right: 0;
  }
  
  .prev:hover, .next:hover{
    transform: scale(1.5);
  }
  
  .prev svg, .next svg{
    max-width: 3rem;
    fill: var(--gold);
  }
  
  
  [class^="mySlides"]{
    visibility: hidden;
    opacity: 0.5;
    position: absolute;
    transition: opacity 0.5s linear;
  }
  
  [class^="mySlides"].active{
    visibility: visible;
    opacity: 1;
    position: relative;
  }
  
  .mySlides img{
    max-width: 25ch;
    vertical-align: middle;
    border-radius: 15px;
  }
  
  #thumbnail{
    max-width: 80ch;
    border-radius: 15px;
  }
  
  .mySlides2 img{
    max-width: 80ch;
    vertical-align: middle;
    border-radius: 15px;
  }
  
  .mySlides .premium-img, .mySlides .all-img{
    max-width: 20.7ch;
  }
  
  .mySlides3 img{
    max-width: 75ch;
    vertical-align: middle;
    border-radius: 15px;
  }
  
  .mySlides3 .sep-img{
    max-width: 25ch;
  }
  
  .mySlides3 .adp-img{
    max-width: 44ch;
  }
  
  .mySlides4 img, .mySlides5 img, .mySlides6 img{
    max-width: 88ch;
    vertical-align: middle;
    border-radius: 10px;
  }
  
  .poster img{
    max-width: 50ch;
  }
  
  .logos6 img{
    max-width: 50ch;
  }
  
  [class^="modal-right"]{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex: 1;
    margin-left: 1.5rem;
  }
  
  [class^="modal-right"] .top{
    margin-top: 3rem;
  }
  
  [class^="modal-right"] h1{
    font-size: 2rem;
    color: var(--platinum-white);
  }
  
  [class^="modal-right"] .top p:nth-of-type(1){
    font-size: 1.5rem;
    color: var(--gold);
  }
  
  [class^="modal-right"] .top p:nth-of-type(2){
    font-size: 1.3rem;
    color: var(--gold);
  }
  
  [class^="modal-right"] .middle{
    flex: 1;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-right: 0.5rem;
    width: 100%;
    word-wrap: break-word;
    overflow-y: auto;
    max-height: 55vh;
  }
  
  [class^="modal-right"] .middle p{
    text-align: justify;
    color: var(--platinum-white);
  }
  
  .bottom{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 1.5rem;
  }
  .bottom > p {
    font-size: 1.5rem;
    color: var(--platinum-white);
  }
  
  .modal-techs{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
  }
  
  .tech{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal-techs p{
    color: var(--platinum-white);
  }
  
  .modal-techs img{
    max-width: 1.5rem;
  }
  
  .tech-used{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--gold);
    font-weight: 500;
    padding: 8px;
    margin: 10px;
    border-radius: 10px;
    gap: 10px;
  }
  
  .tech-info{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .tech-used p{
    color: white;
  }
  
  .tech-used img{
    max-width: 1.5rem;
  }
  
  .close{
    color: black;
    font-size: 28px;
    font-weight: bold;
    float: right;
    margin: 20px;
    padding: 2px 5px;
  }
  
  .close2{
    position: absolute;
    right: 0;
    z-index: 99;
    color: black;
    font-size: 28px;
    font-weight: bold;
    margin: 20px;
    padding: 2px 5px;
  }
  
  .close:hover, .close2:hover{
    background-color: var(--hover-gray);
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
  }