* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  /* colors */
  --blue: #2a7fffff;
  --gold: #ccb866;
  --grayish-blue: #4d5987;
  --platinum-white: #e5e4e2;
  --linked-in-blue: #0077b5;
  --fb-blue: #316ff6;
  --airforce-blue: #00308f;
  --hover-gray: #d3d3d3;

  /* sizes */
  --size-xxs: 0.5rem;
  --size-xs: 0.75rem;
  --size-sm: 0.875rem;
  --size-base: 1rem;
  --size-lg: 1.125rem;
  --size-xl: 1.25rem;
  --size-2xl: 1.5rem;
  --size-3xl: 1.875rem;
  --size-4xl: 2.25rem;
  --size-5xl: 3rem;
  --size-6xl: 3.75rem;
  --size-7xl: 4.5rem;
  --size-8xl: 6rem;
  --size-9xl: 8rem;
  --size-10xl: 10rem;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 10rem;
}

body {
  font-family: "Roboto", sans-serif;
  background: var(--grayish-blue);
}

main {
  margin-inline: auto;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--grayish-blue);
}

.loader-logo {
  width: 100px;
  height: 100px;
  aspect-ratio: 1.5;
  --c: no-repeat linear-gradient(#fff 0 0);
  background: var(--c), var(--c);
  background-size: 66% 50%;
  animation: l1 1.5s infinite linear;
}

@keyframes l1 {
  0% {
    background-position:
      0 0,
      0 100%;
  }
  25% {
    background-position:
      100% 0,
      0 100%;
  }
  47%,
  53% {
    background-position:
      100% 0,
      100% 100%;
  }
  75% {
    background-position:
      0 0,
      100% 100%;
  }
  100% {
    background-position:
      0 0,
      0 100%;
  }
}
